---
// Define the array of projects directly in the frontmatter script.
const otherprojects = [
  {
    "url": "https://www.baggu.com/",
    "title": "BAGGU",
    "description": "Manages a team of three, overseeing product setup and software development across all sales channels,  focusing on operational efficiency and streamlined workflows."
  },
  {
    "url": "https://shiphawk.com/",
    "title": "ShipHawk",
    "description": "Built a Looker dashboard with streamlined data from Fivetran that visualizes daily and weekly performance target metrics for the ShipHawk Product Team."
  },
  {
    "url": "https://www.youtube.com/watch?v=v0yrY72n3tY",
    "title": "TEDx Co-Director",
    "description": "Coordinated a 10 team organization to host 2 virtual TEDx conferences with 80,000+ views featuring prominent speakers like Mayuko Inoue."
  },
  {
    
    "title": "Netflix Watch Party Project",
    "description": "Conducted 25+ Netflix user interviews to identify key pain points; analyzed market trends and organizational needs to inform the implementation of a social integration feature."
  }
  // Add more projects as needed...
];

// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-32">
    <div class="space-y-2">
      <!-- Section Title and Decorative Elements -->
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <h3
        class="text-secondary text-base font-medium"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <span>main</span>
        <span class="font-bold">experience + projects</span>
      </h3>
    </div>

    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-20"
      role="list"
    >
      {
        otherprojects.map((project, index) => (
          <li
            class="flow-root h-full"
            data-aos="fade-up"
            data-aos-duration={calculateAosDuration(index)}
            key={index}
          >
            <div class="h-full flex flex-col justify-between">
              <div>
               {/* <p class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                  0{index + 1}.
                </p> */}
                <p class="font-bold shrink-0">{project.title}</p>
                <p class="text-base mt-3 leading-relaxed">
                  {project.description}
                </p>
              </div>
              {
                project.url && (
                  <a href={project.url}>
                    <div>
                      <p class="hover:text-secondary/80 mt-3 text-base font-semibold">
                        ↗
                      </p>
                    </div>
                  </a>
                )
              }
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
